body{
  margin: 0px;
  background: rgb(62, 39, 35);
}
.header{
  background-color: #ffa600;
  width: 100%;
  height: 100px;
  display: flex;
  position: fixed;
  z-index: 1;
}
.logo{
  /* background-color: #ff0000; */
  width: 20%;
  height: 90px;
  margin-top:25px;
  margin-left:20px;
}
.menuLinks{
  /* background-color: #0000ff; */
  width: 60%;
  height: 90px;
  position: absolute;
  right:-200px;
  display: flex;
  margin-top: 25px;
}
.links {
  display: flex;
  flex-direction: row;
  list-style: none;
}
.links li a{
  margin-left: 25px;
  text-decoration: none;
  color:black;
  font-size: 20px;
  padding:10px;
}
.links li a:hover{
  background-color: rgb(62, 39, 35);
  border-radius: 6px;
  color:rgb(255, 165, 0);
}
.menu{
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 27px;
  padding: 6px;
  border-radius: 9px;
  border-color:rgb(103, 101, 97);
  border-style: solid;
  height: 30px;
  /* display: none; */
}
.menu span{
  background-color: black;
  height: 4px;
  width:25px;
  margin-top:4px;
}
.heroContent{
  text-align: center;
  justify-content: center;
  margin: auto;
  display: block;
  background-image: url(images/background.jpg);
  background-repeat: no-repeat;
  justify-self: center;
  background-size: cover;
  background-position: center;
}
.heroHeading{
  color:#ee970c;
  display: block;
  font-size: 120px;
  font-family: pacifico;
  margin: 0px;
}
.heroHeading1{
  color: #ffffff;
  font-size: 50px;
  margin-top: 0px;
}
.placeOrder{
  color: #000000;
  font-size: 30px;
  border-radius: 15px;
  border-style: solid;
  padding:10px;
  background-color: rgb(255, 165, 0);
  margin-bottom:20px;
}
.placeOrder:hover{
  color: #e28a1f;
  background-color: #6c3304;
  transform: translateY(3px);
}
.contentHeading{
  color:orange;
  font-size:50px;
  display: flex;
  justify-content: center;
  /* font-family: pacifico; */
}
.content{
  margin: auto;
  width: 100%;
  height: auto;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.div{
  background-color: #533030;
  height: fit-content;
  width: fit-content;
  border-radius: 20px;
  border-color: rgb(255, 255, 255);
  border-style: groove;
  justify-content: center;
  display: inline-block;
  color: #ffffff;
  margin:10px;
  text-align: center;
  display: flex;
}
.div p{
  padding: 0;
}
.chocolateCake,.strawberryCake{
  height: 200px;
  border-radius: 20px;
  padding: 10px;
  border-style: solid;
  border-color: #ffa600;
  margin:4px;
}
button{
  border-radius: 20px;
  background-color: rgb(255, 165, 0);
  border-style: groove;
  border-color: white;
  padding: 5px;
}
button:active{
  color:white;
}
.footer{
  height: 230px;
  box-shadow: 0px -20px 70px black;
}
.footer1{
  display: flex;
  background-color: #ffa600a1;
  box-sizing: 0px 0px 10px black;
}
.About{
  padding-left: 10px;
  width: 40%;
}
.delivery{
  width:40%;
  border-left-style: solid;
  padding-left:10px ;
}
.deliveryIcon{
  display: inline-block;
}
.deliveryText{
  display: inline-flex;
}
.socialMedia{
  width:30%;
  border-left-style: solid;
  padding-left:10px ;
}
.footer2{
  color:#000000;
  margin: auto;
  display: flex;
  background-color: #552905;
  border-top-style: solid;
  padding: 10px;
}
.footer2Text{
  margin:auto;
  align-self: center;
  color:rgb(255, 165, 0);
}
.footer3{
  color:#ffffff;
  margin: auto;
  height: 50px;
  margin: auto;
  display: flex;
  background-color: black;
}
.footer3Text{
  margin:auto;
  align-self: center;
}
.icon{
  height: 40px;
  display:inline-block;
}
@media(max-width:1250px){
  .links{
    display: none;
  }
  .heroHeading{
  color:#ee970c;
  display: block;
  font-size: 90px;
  font-family: pacifico;
  margin: 0px;
}
.contentHeading{
  color:orange;
  font-size:20px;
  display: flex;
  justify-content: center;

}
.links.active {
  display: flex;
  flex-direction: column;
  list-style: none;
}
}

.menu.active span:nth-child(1) {
  transform: rotate(45deg) translate(2px, 11px);
}
.menu.active span:nth-child(2) {
  opacity: 0; 
}
.menu.active span:nth-child(3) {
  transform: rotate(-45deg) translate(2px, -11px);
}


